*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rect{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}
#box{
    border: 2px solid black;
    height: 300px;
    width: 500px;
}